@import '_clockpicker';

$blue: #0277bd;
$green: #2e7d32;
$yellow: #f9a825;
$red: #c62828;

.fixed-action-btn {
	&.left {
		left: 23px;
	}
	
	.btn-floating i {
		font-size: 2.6rem;
	}
}

.badge {
	font-weight: 300 !important;
	font-size: 0.8rem !important;
	color: #fff !important;
	border-radius: 2px !important;
	
	&.high {
		background-color: $red !important;
	}
	&.medium {
		background-color: $yellow !important;
	}
	&.low {
		background-color: $green !important;
	}
	&.complete {
		background-color: $blue !important;
	}
}

.picker__date-display {
	display: none;
}